#row {
    margin: auto;
    width: 90%;
    padding: 50px;
}

.brushing{
    height:500px;
    width: 960px;
}

.col1 {
    margin: auto;
    width: 40%;
    padding: 50px;
    float: left;
}
.col2 {
    margin: auto;
    width: 40%;
    padding: 5%;
    float: right;
}

.form-control{
    width: 20%;
    float: left;
    margin-right: 20px;
}

#one_month{
    width: %40;
}

.nodes{
    height: 500px;
}

#chart{
width: 700px;    
}

h3 {
    text-align: center;
}

.legend{
    width: 25%;
    height: 50px;
    float: left;

}
            .bubbleContainer {
                width: 65%;
                height: available;
                min-height: 400px;
                float: left;

            }
    .firstpane{
        width: 25%;
        height: available;
        min-height: 400px;
        float: left;
        background-color:#f9f9f9;
        border-collapse: collapse;
    }
            
    .secondpane{
       width: 25%;
       height: available;
       min-height: 400px;
       float: left;
       background-color:#f9f9f9;
       border-collapse: collapse;
    }

    .thirdpane{
       width: 25%;
       height: available;
       min-height: 400px;
       float: left;
       background-color:#f9f9f9;
       border-collapse: collapse;
    }
    .fourthpane{
       width: 25%;
       height: available;
       min-height: 400px;
       float: left;
       background-color:#f9f9f9;
       border-collapse: collapse;
    }
            
    .row1 {
                width: available;
                height: 40%;
                float: left;
            }
    .row2 {
                width: available;
                height: 40%;
                float: left;
            }
    .row3 {
                width: available;
                height: 20%;
                float: left;
            }

rect.bordered {
        stroke: #E6E6E6;
        stroke-width:2px;   
      }

      text.mono {
        font-size: 9pt;
        font-family: Consolas, courier;
        fill: #aaa;
      }

      text.axis-workweek {
        fill: #000;
      }

      text.axis-worktime {
        fill: #000;
      }